<div id="background">
	<div id"content">
		<%= image_tag "beebuzz__logo.png" %>
		<p><h2>Beebuzz <%= link_to "Wireframe", register_path %></h2></p>
		<hr><%= link_to "About Us", about_path %> - <%= link_to "Contact us", contact_path %> - <%= link_to "BeeBuzz Blog", "http://jeanbahnik.com" %>
	</div>
</div>