<div>
  <%= link_to "Bienvenue, Erika !" %>
  <ul>
    <li><%= link_to "5 BeeBucks", beebucks_path %></li>
    <li><%= link_to "Your profile", profile_path %></li>
  </ul>
</div>

<div>
	<form action="main.html">
	Your languages
		<div>
			<label>Choose original language:</label>
			<div>
				<select name="language1">
					<option value="French">French</option>
					<option value="English">English</option>
					<option value="None">None</option>
				</select>
			</div>
		</div>
		
		<div>
			<label>Choose translation:</label>
			<div>
				<select name="language2">
					<option value="English">English</option>
					<option value="French">French</option>
					<option value="None">None</option>
				</select>
			</div>
		</div>
		
		<div>
			<input type="submit" value="Register">
		</div>
	</form>
</div>

<div>
	<p><h6>(For the purpose of this demo the languages will be French/English)</h6></p>
	<hr>
	<%= link_to "About Us", about_path %> - <%= link_to "Contact us", contact_path %> - <%= link_to "BeeBuzz Blog", "http://jeanbahnik.com" %>
</div>