<div class="container">
	<div class="box">
		Bienvenue Erika ! - You have <%= link_to "5 BeeBucks", beebucks_path %> (<%= link_to "Back", main_path %>)
	</div>
	
	<div class="box sm">
		<h3>Update your profile:</h3>
		<form action="">
			Name : <input type="text" name="name" value="Erika"><br>
			Email: <input type=text name="email" value="Bahnik"><br>
			Email: <input type=text name="email" value="Christian"><br>
			<input type="submit" value="Update">
		</form>
		<h3>Update your password:</h3>
		<form action="">
			Password: <input type="password" name="password"><br>
			Confirm Password: <input type="password" name="password"><br>
			<input type="submit" value="Update Password">
		</form>
	</div>
	
	<div class="box">
		<%= link_to "About Us", about_path %> - <%= link_to "Contact us", contact_path %> - <%= link_to "BeeBuzz Blog", "http://jeanbahnik.com" %>
	</div>
</div>