<div>
	<p>
	Bienvenue, Erika ! You have <%= link_to "5 BeeBucks", beebucks_path %>. (<%= link_to "Back", main_path %>)
	</p>
	
	<p>
	Your profile:
		<form action="">
			Name : <input type="text" name="name" value="Erika"><br>
			Email: <input type=text name="email" value="Bahnik"><br>
			First Child's name: <input type=text name="child1" value="Christian"><br>
			Second Child's name: <input type=text name="child2" value=""><br>
			<input type="submit" value="Update">
		</form>
		
		Update Password:
		<form action="">
			Password: <input type="password" name="password"><br>
			Confirm Password: <input type="password" name="password"><br>
			<input type="submit" value="Update Password">
		</form>
	</p>
	
	<hr><%= link_to "About Us", about_path %> - <%= link_to "Contact us", contact_path %> - <%= link_to "BeeBuzz Blog", "http://jeanbahnik.com" %>
</div>